/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

.ast-separate-container #primary{
    padding: 0px;
    margin: 0px;
}

.ast-separate-container .ast-article-single{
    padding: 0px;
}

.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
    padding: 0px;
}

.post-thumb-img-content.post-thumb{
    text-align: center;
}

.entry-title{
    padding-top: 10px;
}

div.wpforms-container-full .wpforms-form * {
    margin-bottom: 15px;
}

.widget_search .search-field{
    padding: 15px 40px 17px 10px;
}

h1{
    margin-bottom: 5px;
}

.site-footer a:hover {
    color: #82acff;
}

.site-footer .widget-title{
    color: #82acff;
}